{% extends 'AppTickets/base.html' %}
{% load static %}

{% block title %}
    About me
{% endblock title %}


{% block mainProducts %}
    <!-- <h2>Logout</h2> -->
    <h4>
        <!-- <p style="color:red" align="center">You have successfully logged out</p> -->
        Hello! My name is Daniel, and I am a passionate scientist.
    </h4>

    <h4>
        <!-- <p style="color:red" align="center">You have successfully logged out</p> -->
        I currently work as a Professor at the Physics Institute within the Faculty of Science
        in Montevideo, Uruguay.
        </h4>

    <h4>
        <!-- <p style="color:red" align="center">You have successfully logged out</p> -->
        I am eager to make a shift in my career and thrive in the field of IT.
        Please feel free to contact me if you'd like to connect or collaborate. 
    </h4>
{% endblock mainProducts %}