{% extends 'AppTickets/base.html' %}
{% load static %}

{% block title %}
    Add avatar
{% endblock title %}


{% block mainProducts %}
    <!-- <h2>Add avatar</h2> -->
    <!-- enctype significa que lo que va a viajar son binarios-->
    <form action="" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Create Avatar">
    </form>
{% endblock mainProducts %}
