{% extends 'AppTickets/base.html' %}
{% load static %}

{% block title %}
    Event delete
{% endblock title %}


{% block mainProducts %}
    <form action="" method="POST">
        {% csrf_token %}   
        <div class="text-center">     
            <h3>Proceed to delete the event? <p style="color:red">{{ object }}</p> </h3>
        </div>
        <div class="text-center">
            <input type="submit" value="Proceed">
        </div>
    </form>
{% endblock mainProducts %}
